

.searchbar {
  input, select {
    font-size: 1.3rem;
  }

  form, >input {
    display: flex;
    justify-content: center;
  }

  form {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
  }

  > input {
    margin: auto;
  }

  margin-top: 1rem;
  margin-bottom: 1rem;

  border-radius: 5px;
  padding: 0.3rem;
  background-color: white;
}
